body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px; /* Breite vergrößert */
  text-align: center;
}

.logo {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

select, input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: #218838;
}

#kilometer-felder div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#kilometer-felder label {
  width: 120px; /* Breite für die Personentitel */
  margin-right: 10px;
  text-align: left;
}

#kilometer-felder input {
  flex: 1; /* Gleiche Breite für alle Eingabefelder */
}

#ergebnis-tabelle table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#ergebnis-tabelle th, #ergebnis-tabelle td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#ergebnis-tabelle th {
  background-color: #f2f2f2;
}

#ergebnis-summary {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
  color: #666;
}
